* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Arial', sans-serif;
}

body {
  background: linear-gradient(to bottom, #ffb3b3, #b3d9ff);
  color: #333;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.poem-container {
  max-width: 600px; /* To control the width of the poem */
  padding: 20px;
  overflow-y: auto;
  text-align: left;
}

.poem {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 1.8;
}

.poem p {
  margin: 20px;
}

.images {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.tulip, .moon {
  width: 60px;
  position: absolute;
}

.tulip {
  bottom: 40px;
  left: 10%;
}

.moon {
  bottom: 40px;
  right: 10%;
}
